.swo
*.swn
*.swo
tmp
attachment/*
test/fixtures/*.yml
log/*
tmp/**/*
pkg/**/*
pkg/*
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
public/system
public/javascripts/all.js
*.DS_Store
coverage/*
*.swp
rerun.txt
tags
!.keep
.rvmrc
nohup.out
.bundle/*
nbproject/*
.idea/*
public/system/*
